#paginaSobre h1{
    text-align: center;
    font-size: 60px;
    font-family: Verdana;
}

#paginaSobre p{
    text-align: center;
    font-size: 25px;
    font-family: Verdana;
}

#paginaSobre #pEquipe, #paginaSobre #pDescricao{
    font-weight: bold;
    font-size: 30px;
}